*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #36384d;
    color: #36384d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}